@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.head {
  font-family: "Martian Mono";
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.main {
  width: 100%;
}

@media (min-width: 640px) {
  .main {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .main {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .main {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .main {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .main {
    max-width: 1536px;
  }
}
